body {
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    font-family: inherit;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container {      
    max-width: 1158px;    
    padding: 0 15px;
    margin: 0 auto;
}

/* ===============================HEADER=============================== */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
    display: flex;    
}
.nav {
    display: flex;
    align-items: center;    
}
.header-logo-link {
    margin-right: 76px;    
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;    
    color: #4D5AE5;
    padding: 24px 0;
}
.header-logo {
    color: #2E2F42;
}
.nav-list {
    display: flex;
    gap: 40px;        
}
.nav-link {
    display: flex;    
    color: #2E2F42; 
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;    
    line-height: 1.5;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}  
.nav-link::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    }
.nav-link:hover::after, 
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1;
}
/* .nav-list>li:first-child .nav-link {
    color: #404bbf;
}
.nav-link::after {
    display: block;
    content: '';    
    position: absolute;
    bottom: -1px;    
    left: 0;
    right: 0;
    height: 4px;    
    background-color: #404bbf;   
    border-radius: 2px;    
    transform: scaleX(0);    
    transform-origin: center;   
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}*/
.nav-link:hover,
.nav-link:focus,
.address-link:hover, 
.address-link:focus,
.nav-link.current
 {
    color: #404bbf;
    transform: scaleX(1);    
}
.address {        
    margin-left: auto;
}
.address-list { 
    display: flex;   
    gap: 40px;
    padding: 24px 0;    
}
.address-link {
    color: #434455;    
    font-size: 16px;       
    letter-spacing: 0.02em;
    text-align: left;    
    line-height: 1.5;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

main {}
/* ===============================SECTION-ONE=============================== */
.hero {
    max-width: 1440px;
    background-color: #2E2F42; 
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.hero-slogan {
    color: #FFFFFF;   
    font-size: 56px;      
    letter-spacing: 0.02em;
    text-align: center;    
    line-height: 1.07;    
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;        
}
.hero-button {
    display: block;
    color: #FFFFFF;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;    
    letter-spacing: 0.04em;
    line-height: 1.5;    
    text-align: center;
    background-color: #4D5AE5;    
    padding: 16px 32px;    
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.hero-button:hover,    
.hero-button:focus {
    background-color: #404BBF;
}

/* ===============================SECTION-TWO=============================== */
.section-two {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.fitures-list {
    align-items: flex-start;
    display: flex;
    gap: 24px;
}
.fitures-item {
    width: calc((100% - 72px) / 4);
}
.card-conteiner-icon {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.features-icon {}
.fitures-subtitle {
    color: #2E2F42;   
    font-size: 20px;
    font-weight: 500;    
    letter-spacing: 0.02em;        
    text-align: left;
    line-height: 1.2;
    margin-bottom: 8px;
}
.fitures-desc {
    color: #434455;    
    font-size: 16px;      
    letter-spacing: 0.02em;    
    text-align: left;
    line-height: 1.5;    
}

/* ===============================SECTION-THREE=============================== */
.our-team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;    
}
.our-team-title {
    color: #2E2F42;       
    font-size: 36px;    
    text-transform: capitalize;
    letter-spacing: 0.02em;    
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;    
}
.our-team-list {    
    display: flex;    
    gap: 24px;
    flex-wrap: wrap;    
}
.employee-item {
    background-color: #FFFFFF;    
    border-radius: 0px 0px 4px 4px; 
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.employee-img {}
.employee-item-description {    
    padding: 32px 0;
    width: 100%;    
}
.employee-title {
    color: #2E2F42;    
    font-size: 20px;
    font-weight: 500;    
    letter-spacing: 0.02em;    
    text-align: center;
    line-height: 1.2;    
    margin-bottom: 8px;
}
.employee-desc {
    color: #434455;    
    font-size: 16px;       
    letter-spacing: 0.02em;    
    text-align: center;
    line-height: 24px;
    margin-bottom: 8px;
}
.socialmedia-list{
    display: flex;    
    gap: 24px;
    justify-content: center;    
}
.item-socialmedia-icon {}
.socialmedia-link {
    height: 40px;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialmedia-link:hover,
.socialmedia-link:focus {
    background-color: #404bbf;
}
.socialmedia-icon{
    fill: rgb(244, 244, 253);
}


/* ===============================SECTION-FOUR=============================== */
.portfolio-section {
    background-color: rgb(255, 255, 255);
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;     
}   
.portfolio-title {
    color: #2E2F42;    
    font-size: 36px;    
    text-transform: capitalize;
    letter-spacing: 0.02em;    
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
}
.portfolio-list {
    justify-content: center;
    align-items: center;
    display: flex;        
    flex-wrap: wrap;    
    gap: 48px 24px;    
}
.portfolio-item {
    background-color: #FFFFFF;
    width: calc((100% - 2 * 24px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.portfolio-item:hover,
.portfolio-item:focus,
.portfolio-item-overlay {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);    
}
.portfolio-item:hover .portfolio-item-overlay,
.portfolio-item:focus .portfolio-item-overlay {
    transform: translateY(0);
}
.portfolio-item-img-ovelay {
    position: relative;
    overflow: hidden;    
}
.portfolio-img {}
.portfolio-item-overlay {
    position: absolute;
    top: 0;    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-subtitle {
    color: #2E2F42;    
    font-size: 20px;
    font-weight: 500;    
    letter-spacing: 0.02em;    
    text-align: left;
    line-height: 1.2;
    margin-bottom: 8px;
}
.portfolio-desc {
    color: #434455;    
    font-size: 16px;       
    letter-spacing: 0.02em;    
    text-align: left;
    line-height: 1.5;
}

/* ===============================FOOTER=============================== */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;   
}
.footer .container {
    display: flex;
    align-items: baseline
}    
.footer-logo {
    margin-right: 120px;
}
.footer-logo-link {
    display: inline-block;    
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;    
    text-align: left;
    color: #4D5AE5;
}
.footer-logo {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;    
    font-size: 16px;       
    letter-spacing: 0.02em;    
    text-align: left;
    line-height: 1.5; 
    width: 264px;   
}
.footer-socialmedia {
    margin-right: 80px;}
.footer-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer .socialmedia-list {
    gap: 16px;
}
.footer .socialmedia-link:hover, 
.footer .socialmedia-link:focus{
    background-color: #31D0AA;
}
.subscribe {}
.subscrib-form {
    display: flex;    
}       
.subscrib-input {}
.subscrib-input:placeholder-shown{
    background-color: #2E2F42;
    padding: 8px 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-right: 24px;
    min-width: 264px;
}
.subscrib-input::placeholder {
    display: flex;
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;    
}
.subscrib-button { 
    display: flex;  
    color: #FFFFFF;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;    
    letter-spacing: 0.04em;
    line-height: 1.5;    
    text-align: center;
    background-color: rgb(77, 90, 229);    
    padding: 8px 0 8px 24px;    
    align-items: center;
    justify-content: center;    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.subscrib-button:hover,
.subscrib-button:focus {
    background-color: rgb(64, 75, 191);
}
.icon.icon-Frame-3 {
    fill: #FFFFFF;
    margin-left: 16px;
    margin-right: 24px;    
}
/* --------------------------modal overlay------------------ */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;    
}
.modal-window { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: rgb(252, 252, 252);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);        
    background-color: rgb(231, 233, 252);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close{
    fill: rgb(46, 47, 66);  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    background-color:rgb(64, 75, 191);
    border: none;
}
.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: rgb(255, 255, 255);
}
.modal-title {
    color: rgb(46, 47, 66);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;    
}
.modal-form {}
.modal-field:not(:nth-child(4)) { 
    margin-bottom: 8px; 
      
}
.label {
    display: block;
    color: rgb(142, 143, 153);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 4px;
}
.checkbox-label {
    padding-bottom: 0;
}
.input-field-icon{
    position: relative;    
}
.input {       
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    font-size: 12px;
    background-color: transparent;
    padding-left: 38px;   
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
        
}
.input:focus,
.textarea:focus {
    border-color: rgb(77, 90, 229);
}
.input-icon {
    fill: rgb(142, 143, 153);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus + .input-icon {
    fill: rgb(77, 90, 229);
}
.textarea-field {
    display: flex;
    flex-direction: column;
}
.textarea {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 118px;
    font-size: 12px;
    background-color: transparent;
    padding-left: 16px;
    padding-top: 8px;    
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.checkbox {
    display: flex;
    padding-top: 16px;    
}
.checkbox-input {
    margin-right: 8px;
    position: static;
    width: 16px;
    height: 16px;
}
.checkbox-label {}
.label-privacy {
    color: rgb(77, 90, 229);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: left;
    text-decoration: underline;
    margin-left: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;    
}
.label-privacy:hover,
.label-privacy:focus{
    color: rgb(64, 75, 191);
}
.modal-button {
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}