body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ===============================HEADER=============================== */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}
.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}
.header-logo {
  color: #2e2f42;
}
.burger-btn {
  border: none;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: rgb(47, 47, 55);
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav {
    display: flex;
    align-items: center;
  }
  .header-logo-link {
    margin-right: 120px;
    padding: 24px 0;
  }
  .nav-link {
    display: flex;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .nav-link::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }
  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus,
  .nav-link.current {
    color: #404bbf;
    transform: scaleX(1);
  }
  .address {
    display: block;
    font-style: normal;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    color: #434455;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-align: left;
    line-height: 1.7;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-logo-link {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }
  .address-link {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
/* ---------------------------------mobile-menu ------------------------------*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  padding-top: 72px;
  padding-bottom: 40px;
  height: 100%;
}
.mobile-menu-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgb(231, 233, 252);
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: rgb(46, 47, 66);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  background-color: rgb(64, 75, 191);
  border: none;
}
.mobile-menu-btn:hover .icon-close,
.mobile-menu-btn:focus .icon-close {
  fill: rgb(255, 255, 255);
}
.mobile-nav {
  margin-bottom: auto;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  cursor: pointer;
}
.mobile-nav-item:hover,
.mobile-nav-item:focus {
  color: rgb(77, 90, 229);
}
.mobile-address {
  width: 100%;
  margin-bottom: 48px;
}
.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-address-link {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(67, 68, 85);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-link:hover,
.mobile-address-link:focus {
  color: rgb(77, 90, 229);
}
.mobile-container-socialmedia {
  width: 100%;
}
.mobile-socialmedia-list {
  display: flex;
  gap: 40px;
}
.mobile-socialmedia-link {
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-socialmedia-link:hover,
.mobile-socialmedia-link:focus {
  background-color: #404bbf;
}
.mobile-socialmedia-icon {
  fill: rgb(244, 244, 253);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ===============================SECTION-ONE=============================== */
.hero {
  max-width: 320px;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mb-Dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 767px) and (min-device-pixel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi),
  (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mb-Dark-bg@2x.jpg"); /* 2x для мобилы */
  }
}
.hero-slogan {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.hero-button {
  display: block;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tb-Dark-bg.jpg);
  }
  .hero-slogan {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tb-Dark-bg@2x.jpg"); /* 2x для лаптопа */
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  .hero-slogan {
    margin-bottom: 48px;
  }
}
@media (min-width: 1158px) and (min-device-pixel-ratio: 2),
  (min-width: 1158px) and (min-resolution: 192dpi),
  (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office1@2x.jpg"); /* 2x для пк */
  }
}
/* ===============================SECTION-TWO=============================== */
.section-two {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.fitures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.card-conteiner-icon {
  display: none;
}
.fitures-subtitle {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  margin-bottom: 8px;
}
.fitures-desc {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .section-two {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .fitures-list {
    gap: 72px 24px;
  }
  .fitures-item {
    width: calc((100% - 24px) / 2);
  }
  .fitures-subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section-two {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .fitures-list {
    align-items: flex-start;
    gap: 24px;
  }
  .fitures-item {
    width: calc((100% - 72px) / 4);
  }
  .card-conteiner-icon {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fitures-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .fitures-desc {
    font-weight: 400;
  }
}
/* ===============================SECTION-THREE=============================== */
.our-team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
.employee-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.employee-item-description {
  padding: 32px 0;
  width: 100%;
}
.employee-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 8px;
}
.employee-desc {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 8px;
}
.socialmedia-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.socialmedia-link {
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialmedia-link:hover,
.socialmedia-link:focus {
  background-color: #404bbf;
}
.socialmedia-icon {
  fill: rgb(244, 244, 253);
}
@media screen and (min-width: 768px) {
  .our-team-list {
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-list {
    gap: 24px;
  }
  .employee-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
/* ===============================SECTION-FOUR=============================== */
.portfolio-section {
  background-color: rgb(255, 255, 255);
  padding-top: 96px;
  padding-bottom: 96px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  margin-bottom: 72px;
}
.portfolio-list {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover,
.portfolio-item:focus {
  transform: translateY(0%);
}
.portfolio-item:hover .portfolio-item-overlay,
.portfolio-item:focus .portfolio-item-overlay {
  transform: translateY(0);
}
.portfolio-item-img-ovelay {
  position: relative;
  overflow: hidden;
}
.portfolio-item-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 8px;
}
.portfolio-desc {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }
}
/* ===============================FOOTER=============================== */
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #f4f4fd;
}
.footer-logo-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  line-height: 1.5;
  width: 288px;
}
.footer-socialmedia {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.footer .socialmedia-list {
  gap: 16px;
}
.footer .socialmedia-link:hover,
.footer .socialmedia-link:focus {
  background-color: #31d0aa;
}
.subscrib {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.subscrib-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.subscrib-input[placeholder] {
  color: #ffffff;
}
.subscrib-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  outline: none;
}
.subscrib-button {
  display: flex;
  color: #ffffff;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  background-color: rgb(77, 90, 229);
  padding: 8px 0 8px 24px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscrib-button:hover,
.subscrib-button:focus {
  background-color: rgb(64, 75, 191);
}
.icon.icon-frame {
  fill: #ffffff;
  margin-left: 16px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    width: 552px;
    align-items: start;
    gap: 72px 24px;
    justify-content: left;
  }
  .footer-logo-link {
    justify-content: left;
  }
  .footer-text {
    width: 264px;
    margin-bottom: 0;
  }
  .footer-title {
    display: flex;
    justify-content: left;
  }
  .footer .socialmedia-list {
    margin-bottom: 0;
  }
  .subscrib {
    justify-content: left;
    align-items: start;
  }
  .subscrib-form {
    display: flex;
    gap: 24px;
    justify-content: left;
    align-items: start;
  }
  .subscrib-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer .container {
    width: 100%;
    align-items: baseline;
    gap: 0;
  }
  .footer-logo {
    margin-right: 120px;
  }
  .footer-socialmedia {
    margin-right: 80px;
  }
  .subscrib {
    display: flex;
    flex-direction: column;
  }
}
/* --------------------------modal overlay------------------ */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: rgb(252, 252, 252);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(231, 233, 252);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: rgb(46, 47, 66);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: rgb(64, 75, 191);
  border: none;
}
.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: rgb(255, 255, 255);
}
.modal-title {
  color: rgb(46, 47, 66);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.modal-field:not(:nth-child(4)) {
  margin-bottom: 8px;
}
.label {
  display: block;
  color: rgb(142, 143, 153);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 4px;
}
.checkbox-label {
  padding-bottom: 0;
}
.input-field-icon {
  position: relative;
}
.input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  font-size: 12px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input:focus,
.textarea:focus {
  border-color: rgb(77, 90, 229);
}
.input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus + .input-icon {
  fill: rgb(77, 90, 229);
}
.textarea-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  font-size: 12px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.checkbox-input.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.icon-check-privacy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 7.5px;
  fill: transparent;
  background-color: transparent;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label .icon-check-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-input:checked + .checkbox-label .icon-check {
  fill: #f4f4fd;
}
.check-text-pp:hover,
.check-text-pp:focus {
  color: rgb(64, 75, 191);
}
.checkbox-span-text {
  white-space: nowrap;
}
.check-text-pp {
  color: rgb(77, 90, 229);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: block;
}
.modal-button {
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .checkbox-span-text {
    white-space: wrap;
  }
  .check-text-pp {
    display: inline-flex;
  }
}
