body {
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    font-family: inherit;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container {      
    max-width: 1158px;    
    padding: 0 15px;
    margin: 0 auto;
}

/* ===============================HEADER=============================== */
.header {
    border-bottom: 1px solid #e7e9fc;           
}
.header .container {
    display: flex;    
}
.nav {
    display: flex;
    align-items: center;    
}
.header-logo-link {
    margin-right: 76px;    
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;    
    color: #4D5AE5;
    padding: 24px 0;
}
.header-logo {
    color: #2E2F42;
}
.nav-list {
    display: flex;
    gap: 40px;        
}
.nav-link {    
    color: #2E2F42; 
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;    
    line-height: 1.5;
    padding: 24px 0
}
.nav-link:hover, 
.nav-link:focus {
    color: #404bbf;
}
.address {        
    margin-left: auto;
}
.address-list { 
    display: flex;   
    gap: 40px;
    padding: 24px 0 24px 0;    
}
.address-link {
    color: #434455;    
    font-size: 16px;       
    letter-spacing: 0.02em;
    text-align: left;
    vertical-align: top;
    line-height: 1.5;
    font-style: normal;        
}
.address-link:hover, 
.address-link:focus {
    color: #404bbf;
}

main {}
/* ===============================SECTION-ONE=============================== */
.section-one {
    background-color: #2E2F42; 
    padding-top: 188px;
    padding-bottom: 188px;   
}
.section-one-slogan {
    color: #FFFFFF;   
    font-size: 56px;
    font-weight: 700;    
    letter-spacing: 0.02em;
    text-align: center;
    vertical-align: top;
    line-height: 1.07;
    align-items: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;        
}
.section-one-button {
    display: block;
    color: #FFFFFF;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;    
    letter-spacing: 0.04em;
    line-height: 1.5;    
    text-align: center;
    background-color: #4D5AE5;    
    padding: 16px 32px;
    width: 233px;
    margin: 0 auto;
}
.section-one-button:hover {
    background-color: #404BBF;
}
.section-one-button:focus {
    background-color: #404BBF;
}

/* ===============================SECTION-TWO=============================== */
.section-two {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.fitures-list {
    align-items: center;
    display: flex;
    gap: 24px;
}
.fitures-item {
    width: calc((100% - 72px) / 4);
}
.fitures-subtitle {
    color: #2E2F42;   
    font-size: 20px;
    font-weight: 500;    
    letter-spacing: 0.02em;
    vertical-align: top;    
    text-align: left;
    line-height: 1.2;
    margin-bottom: 8px;
}
.fitures-desc {
    color: #434455;    
    font-size: 16px;      
    letter-spacing: 0.02em;
    vertical-align: top;
    text-align: left;
    line-height: 1.5;       
}

/* ===============================SECTION-THREE=============================== */
.our-team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;    
}
.our-team-title {
    color: #2E2F42;       
    font-size: 36px;    
    text-transform: capitalize;
    letter-spacing: 0.02em;
    vertical-align: top;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;    
}
.our-team-list {    
    display: flex;    
    gap: 24px;
    flex-wrap: wrap;
}
.employee-item {
    background-color: #FFFFFF;    
    border-radius: 0px 0px 4px 4px; 
    flex-basis: calc((100% - 3 * 24px) / 4);   
}

.employee-img {    
}
.employee-item-description {    
    padding: 32px 0;
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.employee-title {
    color: #2E2F42;    
    font-size: 20px;
    font-weight: 500;    
    letter-spacing: 0.02em;
    vertical-align: top;
    text-align: center;
    line-height: 1.2;    
    margin-bottom: 8px;
}
.employee-desc {
    color: #434455;
    width: auto;
    font-size: 16px;       
    letter-spacing: 0.02em;
    vertical-align: top;
    text-align: center;
    line-height: 24px;
    text-align: center;
}

/* ===============================SECTION-FOUR=============================== */
.portfolio-section {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;     
}   
.portfolio-title {
    color: #2E2F42;    
    font-size: 36px;    
    text-transform: capitalize;
    letter-spacing: 0.02em;
    vertical-align: top;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
}
.portfolio-list {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-template-columns: repeat(3, 1fr);    
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0 15px;
}
.portfolio-item {
    background-color: #FFFFFF;
    width: calc((100% - 2 * 24px) / 3);
}
.portfolio-img {}
.portfolio-item-description{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-subtitle {
    color: #2E2F42;    
    font-size: 20px;
    font-weight: 500;    
    letter-spacing: 0.02em;
    vertical-align: top;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 8px;
}
.portfolio-desc {
    color: #434455;    
    font-size: 16px;       
    letter-spacing: 0.02em;
    vertical-align: top;
    text-align: left;
    line-height: 1.5;
}

/* ===============================FOOTER=============================== */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-logo-link {
    display: inline-block;    
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    vertical-align: middle;
    text-align: left;
    color: #4D5AE5;
}
.footer-logo {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;    
    font-size: 16px;       
    letter-spacing: 0.02em;
    vertical-align: top;
    text-align: left;
    line-height: 1.5; 
    width: 264px;   
}
